div.checkout-container {
    div.first-column{
        width: 40%;
        float: left;


        div.form{
            width: 550px;
            height: 450px;
            margin: auto;
            position: relative;
        }
    }

    div.second-column{
        width: 40%;
        float: right;
    }


}